.bg-abu{
    background: #E5E5E5;
}

.bg-blue{
    background: #124290;
}

.bg-putih{
    background: #F5F4F4;
}

.bg-linier{
    background: linear-gradient(179.16deg, #124291 2.27%, rgba(58, 128, 242, 0.96) 102.79%);
    background-blend-mode: multiply;
}

.bg-footer{
    background: #111A66;
}

.bg-login{
    background: #0A53C0;
}

.bg-muda{
    color: #60789F;
}

.footer{
    background: linear-gradient(160deg, #124290, #3A80F2);
}

.ukuran{
    font-size: 54px;
}

.footer-bawah{
    font-size: 30px;
    font-weight: lighter;
    color: #ffff;
    letter-spacing: 5px;
}

